<ion-view title="RV Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="row">
      <div class="card">
        <div class="centered item item-divider">
          Temperature
        </div>
        <div class="item item-text-wrap">
          {{current.temp}} &deg;C
        </div>
      </div>
    
    </div>

    <div class="row">
      <div class="col-50">
        <div class="card">
          <div class="item item-divider">
            Humidity
          </div>
          <div class="item item-text-wrap">
            {{current.humidity | number: 1}}% 
          </div>
        </div>
      </div>

      <div class="col-50">
        <div class="card">
          <div class="item item-divider">
            Barom
          </div>
          <div class="item item-text-wrap">
            {{current.pressure | number: 1}} kPa
          </div>
        </div>
      </div>
    </div>
    <div class="padding"> 
      <small>Last updated: {{current.timestamp | date:'short'}}</small>
    </div>
    <div class="padding">
      <a class="button button-positive button-block" href="#/app/mileage/form">Enter Mileage</a> 
    </div>

  </ion-content>
</ion-view>
