<ion-view title="Settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <div class="padding">
          <button class="button button-assertive button-block" ng-click="clearLocalStorage();">Reset App</button>
          <button class="button button-assertive button-block" ng-click="updateApigee();">Update Apigee</button>
  </div>
  <div class="padding" ng-show="message">{{message}}</div>

  </ion-content>
</ion-view>
